@mixin web-tabs-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-tabs {
    .web-tabs-header {
      .mat-button {
        &.active {
          color: mat-color($primary, text);
        }
      }
    }

    &.web-accent {
      .web-tabs-header {
        .mat-button {
          &.active {
            color: mat-color($accent, text);
          }
        }
      }
    }

    &.web-warn {
      .web-tabs-header {
        .mat-button {
          &.active {
            color: mat-color($warn, text);
          }
        }
      }
    }

    &.web-darker {
      .web-tabs-header {
        .mat-button {
          &.active {
            color: mat-color($foreground, text);
          }
        }
      }
    }

    &.web-lighter {
      .web-tabs-header {
        .mat-button {
          &.active {
            color: mat-color($foreground, lighter);
          }
        }
      }
    }
  }
}
