<div class="web-tabs">
  <nav class="web-tabs-header" mat-tab-nav-bar>
    <a
      mat-button
      *ngFor="let tab of config.tabs"
      [routerLink]="[tab.url]"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLinkActive="active"
    >
      {{ tab.title }}
    </a>
  </nav>
  <div class="web-tabs-content">
    <router-outlet></router-outlet>
  </div>
</div>
