.web-tabs {
  .web-tabs-header {
    .mat-button {
      border-radius: 0;
      line-height: 42px;

      &.cdk-focused {
        .mat-button-focus-overlay {
          opacity: 0 !important;
        }
      }
    }
  }

  .web-tabs-content {
    padding: 16px;
  }
}
