@import './app/common/web-theming/styles/web-theming';

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.web-form-field {
  &.mat-form-field-appearance-fill {
    margin-bottom: 24px;

    .mat-form-field-flex {
      border-radius: 0;
      padding: 6px 6px 6px 12px;
      min-height: 50px;
    }

    textarea {
      resize: none;
      line-height: 1.2;
    }

    .mat-form-field-infix {
      padding: 4px 0;

      .mat-form-field-label-wrapper {
        top: -0.7em;
        padding-top: 0.9em;
      }
    }

    .mat-form-field-underline {
      visibility: hidden;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-subscript-wrapper {
      padding: 0 12px;
      margin: 0;
      top: calc(100% + 4px);
    }
  }
}

.web-link {
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  transition: opacity 400ms;

  &:hover {
    opacity: 0.7;
  }
}
