<div class="message-boards" *ngIf="messageBoardsPage$ | async; let messageBoards; else: loadingPage">
  <web-box [config]="{ maxWidth: '520px' }">
    <web-row>
      <div>
        <web-image
          [config]="{
            src: messageBoards.mainTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: messageBoards.mainTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <div class="message-boards-header" fxLayout="column" fxLayoutAlign="center center">
        <p>Deixe um recado para nós!</p>
        <web-card class="message-boards-form">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
            <div fxLayout="column">
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Recado</mat-label>
                <textarea matInput formControlName="comment" type="text" rows="6" required></textarea>
                <mat-error
                  *ngIf="
                    formGroup.controls.comment.invalid &&
                    (formGroup.controls.comment.dirty || formGroup.controls.comment.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.comment.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Assinatura</mat-label>
                <input matInput formControlName="name" type="text" required />
                <mat-error
                  *ngIf="
                    formGroup.controls.name.invalid &&
                    (formGroup.controls.name.dirty || formGroup.controls.name.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.name.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
                <web-button [config]="{ title: 'Limpar' }" type="reset" (click)="onReset()"></web-button>
                <web-button
                  type="submit"
                  [config]="{ title: 'Enviar', color: 'web-primary' }"
                  [disabled]="!formGroup.valid || loading"
                ></web-button>
              </div>
            </div>
          </form>
        </web-card>
        <p>Confira os recados que já recebemos</p>
        <div
          class="message-boards-list"
          *ngIf="messageGuests$ | async; let messageGuests"
          fxLayout="column"
          fxLayoutGap="12px"
        >
          <web-card *ngIf="!messageGuests.length">
            <p>Nenhum recado enviado.</p>
          </web-card>
          <web-card *ngFor="let messageGuest of messageGuests">
            <p>{{ messageGuest.comment }}</p>
            <p>
              <strong>{{ messageGuest.name }}</strong> - {{ messageGuest.date.seconds * 1000 | date: 'dd/MM/yyyy' }}
            </p>
          </web-card>
        </div>
      </div>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
