.message-boards {
  .message-boards-header {
    text-align: center;

    web-card {
      width: 100%;
    }

    .message-boards-form {
      margin-top: 12px;
      margin-bottom: 24px;
    }

    .message-boards-list {
      margin-top: 12px;
      width: 100%;
    }
  }
}
