.gifts-guest {
  web-card {
    .web-card {
      margin-bottom: 16px;

      .mat-card {
        padding-bottom: 4px;
      }
    }

    &:last-of-type {
      .web-card {
        margin-bottom: 0;
      }
    }
  }
}
