<div class="gifts-guest" *ngIf="giftsGuests$ | async; let giftsGuests; else: loadingPage">
  <web-card *ngIf="!giftsGuests.length">
    <div>
      <p>Nenhum presente enviado.</p>
    </div>
  </web-card>
  <web-card *ngFor="let giftGuest of giftsGuests">
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Status</strong></small>
        <p>
          <mat-checkbox (change)="onChangeStatus($event, giftGuest)" [checked]="giftGuest.checked">{{
            giftGuest.checked ? 'Conferido' : 'Pendente'
          }}</mat-checkbox>
        </p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Data</strong></small>
        <p>{{ giftGuest.date.seconds * 1000 | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="40">
        <small><strong>Nome</strong></small>
        <p>{{ giftGuest.name }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Presente</strong></small>
        <p>{{ giftGuest.gift }}</p>
      </div>
      <div fxLayout="column" fxFlex="100">
        <small><strong>Comentário</strong></small>
        <p>{{ giftGuest.comment }}</p>
      </div>
    </div>
  </web-card>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
