.web-title {
  font-family: 'Candara' !important;
  font-style: italic !important;
  text-align: center;

  &.mat-display-1 {
    margin: 0 0 58px;
  }
}

.mobile {
  .web-title {
    &.mat-display-1 {
      margin: 0 0 36px;
    }
  }
}
