@mixin web-svg-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-svg {
    .web-svg-fill {
      fill: mat-color($foreground, text);
    }

    &.web-primary {
      .web-svg-fill {
        fill: mat-color($primary);
      }
    }

    &.web-accent {
      .web-svg-fill {
        fill: mat-color($accent);
      }
    }

    &.web-warn {
      .web-svg-fill {
        fill: mat-color($warn);
      }
    }

    &.web-darker {
      .web-svg-fill {
        fill: mat-color($foreground, text);
      }
    }

    &.web-lighter {
      .web-svg-fill {
        fill: mat-color($foreground, lighter);
      }
    }
  }
}
