<div class="web-svg" [ngStyle]="{ margin: config.margin }">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    [attr.viewBox]="config.viewBox"
    style="
      shape-rendering: geometricPrecision;
      text-rendering: geometricPrecision;
      image-rendering: optimizeQuality;
      fill-rule: evenodd;
      clip-rule: evenodd;
    "
  >
    <g>
      <path *ngFor="let path of config.paths" class="web-svg-fill" [attr.d]="path" />
    </g>
  </svg>
</div>
