<button class="web-avatar" mat-icon-button [ngStyle]="{ height: config.height, width: config.width }">
  <div *ngIf="config.account$ | async; let account; else: notLogged">
    <web-image
      *ngIf="account.imageURL"
      [config]="{ src: account.imageURL, height: '100%', width: '100%', minHeight: '36px' }"
    ></web-image>
    <div class="letter" *ngIf="!account.imageURL">
      <span>{{ account.displayName.slice(0, 1) }}</span>
    </div>
  </div>
  <ng-template #notLogged>
    <mat-icon>person</mat-icon>
  </ng-template>
</button>
