.web-avatar {
  display: block;
  overflow: hidden;
  line-height: 1;

  .letter {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
  }
}
