<div class="account" *ngIf="accountAuth$ | async; let account; else: loadingPage">
  <web-box [config]="{ maxWidth: '520px' }">
    <web-row>
      <div fxLayout="column" fxLayoutAlign="canter center">
        <web-avatar [config]="{ account$: accountAuth$, width: '120px', height: '120px' }"></web-avatar>
      </div>
    </web-row>
    <web-row>
      <web-card [config]="{ title: account.displayName, subtitle: account.email }">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
          <div fxLayout="column">
            <mat-form-field appearance="fill" class="web-form-field" fxFlex>
              <mat-label>Nome</mat-label>
              <input matInput formControlName="displayName" type="text" required />
              <mat-error
                *ngIf="
                  formGroup.controls.displayName.invalid &&
                  (formGroup.controls.displayName.dirty || formGroup.controls.displayName.touched)
                "
              >
                <span *ngIf="formGroup.controls.displayName.errors.required">Campo obrigatório.</span>
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
              <web-button [config]="{ title: 'Restaurar' }" type="button" (click)="onReset()"></web-button>
              <web-button
                type="submit"
                [config]="{ title: 'Salvar', color: 'web-primary' }"
                [disabled]="!formGroup.valid || loading"
              ></web-button>
            </div>
          </div>
        </form>
      </web-card>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
