<web-box [config]="{ maxWidth: '400px' }">
  <web-card [config]="{ title: 'Login', subtitle: 'Informe suas credenciais' }">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error
          *ngIf="
            loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)
          "
        >
          <span *ngIf="loginForm.controls.email.errors.required">Campo obrigatório.</span>
          <span *ngIf="loginForm.controls.email.errors.pattern">Formato inválido.</span>
          <span *ngIf="loginForm.controls.email.errors.invalid">E-mail não cadastrado.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required />
        <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
          <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            loginForm.controls.password.invalid &&
            (loginForm.controls.password.dirty || loginForm.controls.password.touched)
          "
        >
          <span *ngIf="loginForm.controls.password.errors.required">Campo obrigatório.</span>
          <span *ngIf="loginForm.controls.password.errors.invalid">Senha inválida.</span>
        </mat-error>
      </mat-form-field>
      <web-button
        [config]="{ title: 'Entrar', color: 'web-primary', margin: '0 0 18px 0', width: '100%' }"
        type="submit"
        [disabled]="!loginForm.valid || loading"
      ></web-button>
    </form>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
      <p><a class="web-link" [routerLink]="['../forgot-password']">Esqueceu a senha?</a></p>
      <p>Não tem conta? <a class="web-link" [routerLink]="['../register']">Cadastre-se</a></p>
    </div>
  </web-card>
</web-box>
