<web-main class="admin">
  <web-toolbar color="web-lighter">
    <web-svg [config]="logoSvg"></web-svg>
    <web-menu [config]="menu">
      <web-avatar [config]="{ account$: accountAuth$ }"></web-avatar>
    </web-menu>
  </web-toolbar>
  <web-sidenav>
    <web-nav [config]="nav"></web-nav>
    <web-footer></web-footer>
  </web-sidenav>
</web-main>
