@font-face {
  font-family: 'Candara';
  src: url('assets/fonts/Candara-LightItalic.woff2') format('woff2'),
    url('assets/fonts/Candara-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
