$web-colors-primary: (
  50: var(--web-primary-50),
  100: var(--web-primary-100),
  200: var(--web-primary-200),
  300: var(--web-primary-300),
  400: var(--web-primary-400),
  500: var(--web-primary-500),
  600: var(--web-primary-600),
  700: var(--web-primary-700),
  800: var(--web-primary-800),
  900: var(--web-primary-900),
  A100: var(--web-primary-A100),
  A200: var(--web-primary-A200),
  A400: var(--web-primary-A400),
  A700: var(--web-primary-A700),
  contrast: (
    50: var(--web-primary-contrast-50),
    100: var(--web-primary-contrast-100),
    200: var(--web-primary-contrast-200),
    300: var(--web-primary-contrast-300),
    400: var(--web-primary-contrast-400),
    500: var(--web-primary-contrast-500),
    600: var(--web-primary-contrast-600),
    700: var(--web-primary-contrast-700),
    800: var(--web-primary-contrast-800),
    900: var(--web-primary-contrast-900),
    A100: var(--web-primary-contrast-A100),
    A200: var(--web-primary-contrast-A200),
    A400: var(--web-primary-contrast-A400),
    A700: var(--web-primary-contrast-A700)
  )
);

$web-colors-accent: (
  50: var(--web-accent-50),
  100: var(--web-accent-100),
  200: var(--web-accent-200),
  300: var(--web-accent-300),
  400: var(--web-accent-400),
  500: var(--web-accent-500),
  600: var(--web-accent-600),
  700: var(--web-accent-700),
  800: var(--web-accent-800),
  900: var(--web-accent-900),
  A100: var(--web-accent-A100),
  A200: var(--web-accent-A200),
  A400: var(--web-accent-A400),
  A700: var(--web-accent-A700),
  contrast: (
    50: var(--web-accent-contrast-50),
    100: var(--web-accent-contrast-100),
    200: var(--web-accent-contrast-200),
    300: var(--web-accent-contrast-300),
    400: var(--web-accent-contrast-400),
    500: var(--web-accent-contrast-500),
    600: var(--web-accent-contrast-600),
    700: var(--web-accent-contrast-700),
    800: var(--web-accent-contrast-800),
    900: var(--web-accent-contrast-900),
    A100: var(--web-accent-contrast-A100),
    A200: var(--web-accent-contrast-A200),
    A400: var(--web-accent-contrast-A400),
    A700: var(--web-accent-contrast-A700)
  )
);

$web-colors-warn: (
  50: var(--web-warn-50),
  100: var(--web-warn-100),
  200: var(--web-warn-200),
  300: var(--web-warn-300),
  400: var(--web-warn-400),
  500: var(--web-warn-500),
  600: var(--web-warn-600),
  700: var(--web-warn-700),
  800: var(--web-warn-800),
  900: var(--web-warn-900),
  A100: var(--web-warn-A100),
  A200: var(--web-warn-A200),
  A400: var(--web-warn-A400),
  A700: var(--web-warn-A700),
  contrast: (
    50: var(--web-warn-contrast-50),
    100: var(--web-warn-contrast-100),
    200: var(--web-warn-contrast-200),
    300: var(--web-warn-contrast-300),
    400: var(--web-warn-contrast-400),
    500: var(--web-warn-contrast-500),
    600: var(--web-warn-contrast-600),
    700: var(--web-warn-contrast-700),
    800: var(--web-warn-contrast-800),
    900: var(--web-warn-contrast-900),
    A100: var(--web-warn-contrast-A100),
    A200: var(--web-warn-contrast-A200),
    A400: var(--web-warn-contrast-A400),
    A700: var(--web-warn-contrast-A700)
  )
);

$mat-light-theme-foreground: map_merge(
  $mat-light-theme-foreground,
  (
    text: var(--web-darker, rgba(black, 0.87)),
    lighter: var(--web-lighter, white)
  )
);

$mat-light-theme-background: map_merge(
  $mat-light-theme-background,
  (
    background: var(--web-background, #fafafa)
  )
);

$mat-dark-theme-foreground: map_merge(
  $mat-dark-theme-foreground,
  (
    lighter: map_get($mat-grey, 800)
  )
);

$web-primary-pallete: mat-palette($web-colors-primary);
$web-accent-pallete: mat-palette($web-colors-accent, A200, A100, A400);
$web-warn-pallete: mat-palette($web-colors-warn);
