@import '~@angular/material/theming';

@import 'web-fonts';

$config: mat-typography-config(
  $display-4: mat-typography-level(110px, 110px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(54px, 54px, 300, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(43px, 46px, 300, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(32px, 38px, 300),
  $headline: mat-typography-level(24px, 30px, 300),
  $title: mat-typography-level(24px, 34px, 300),
  $subheading-2: mat-typography-level(18px, 27px, 300),
  $subheading-1: mat-typography-level(16px, 25px, 300),
  $body-2: mat-typography-level(15px, 21px, 400),
  $body-1: mat-typography-level(15px, 21px, 300),
  $caption: mat-typography-level(13px, 21px, 300),
  $button: mat-typography-level(15px, 15px, 400),
  $input: mat-typography-level(inherit, 1.125, 300)
);

@include mat-core($config);

@import 'web-palette';
@import 'web-theme';

$web-light-theme: mat-light-theme($web-primary-pallete, $web-accent-pallete, $web-warn-pallete);

@include angular-material-theme($web-light-theme);
@include web-theme($web-light-theme, $config);

.web-dark-theme {
  $web-dark-theme: mat-dark-theme($web-primary-pallete, $web-accent-pallete, $web-warn-pallete);

  @include angular-material-theme($web-dark-theme);
  @include web-theme($web-dark-theme, $config);
}

strong {
  font-weight: mat-font-weight($config, body-2);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
