@mixin web-footer-theme($theme, $config) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .web-footer {
    footer {
      color: mat-color($foreground, text);
      background: mat-color($background, hover);

      &.basic {
        background: initial;
      }
    }
  }
}
