<div class="web-footer">
  <mat-divider *ngIf="!basic"></mat-divider>
  <footer
    fxLayout="row"
    [fxLayoutAlign]="basic ? 'center center' : 'space-between center'"
    [ngClass]="{ basic: basic }"
  >
    <div class="logo" [routerLink]="['/admin']">
      <web-svg [config]="monogramSvg" *ngIf="!basic"></web-svg>
    </div>
    <div class="mat-small">Copyright &copy; {{ currentYear }} by <strong>Michele & Diego</strong></div>
  </footer>
</div>
