.web-footer {
  width: 100%;

  footer {
    padding: 12px 24px;

    .logo {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-decoration: none;

      .web-svg {
        max-height: 16px;
      }
    }
  }
}

.mobile {
  footer {
    padding: 8px 16px;

    .logo {
      .web-svg {
        max-height: 14px;
      }
    }
  }
}
