<web-main class="auth">
  <web-sidenav [hidden]="true">
    <div class="auth-header" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo" [routerLink]="['/']">
        <web-svg [config]="monogramSvg"></web-svg>
      </div>
    </div>
    <web-footer [basic]="true"></web-footer>
  </web-sidenav>
</web-main>
