.auth {
  .web-sidenav {
    .web-content {
      margin-top: 0;
    }
  }

  .auth-header {
    margin-top: 42px;

    .logo {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-decoration: none;

      .web-svg {
        height: 65px;
      }
    }
  }

  .web-box {
    padding: 48px 36px;
  }

  .web-card {
    .mat-card {
      padding-bottom: 4px;
    }
  }
}
