.web-sidenav {
  mat-sidenav-container {
    flex: 1;
  }

  mat-sidenav {
    width: 230px;
    margin-top: 60px;
    position: fixed;

    .mat-drawer-inner-container {
      overflow-x: hidden;
    }
  }

  mat-sidenav-content {
    min-height: 100vh;

    .web-content {
      margin-top: 60px;
    }
  }
}

.mobile {
  .web-sidenav {
    mat-sidenav-container {
      flex: 1 0 auto;
    }

    mat-sidenav {
      margin-top: initial;
    }

    .web-content {
      margin-top: 50px;
    }
  }
}

.android {
  &:not(.pwa) {
    .web-sidenav {
      mat-sidenav-content {
        min-height: calc(100vh - 56px);
      }
    }
  }
}
