<div class="web-sidenav">
  <mat-sidenav-container (backdropClick)="onToggleSidenav()">
    <mat-sidenav
      *ngIf="!hidden"
      [opened]="isMobile ? opened : true"
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile"
      [fixedTopGap]="50"
    >
      <ng-content select="web-nav"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <ng-content></ng-content>
      <div class="web-content" fxFlex>
        <router-outlet></router-outlet>
      </div>
      <ng-content select="web-footer"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
