<div class="guests">
  <web-box [config]="{ maxWidth: '100%' }">
    <web-card [config]="{ title: 'Convidados', headerAlign: 'left' }">
      <web-tabs [config]="webTabs"></web-tabs>
    </web-card>
  </web-box>
</div>
