<button
  [type]="type || 'button'"
  [disabled]="disabled"
  class="web-button"
  mat-flat-button
  [ngStyle]="{ margin: config.margin, width: config.width }"
  (click)="onClick(config.action)"
>
  <mat-icon *ngIf="config.icon">{{ config.icon }}</mat-icon>
  <mat-icon *ngIf="config.svgIcon" [svgIcon]="config.svgIcon"></mat-icon>
  <span>{{ config.title }}</span>
</button>
