.web-row {
  margin: 0 -36px -36px 0;

  & > * {
    margin: 0 36px 36px 0;
    flex: 1 1 0%;
    box-sizing: border-box;
  }
}

.mobile {
  .web-row {
    margin: 0 -24px -24px 0;

    & > * {
      margin: 0 24px 24px 0;
    }
  }
}
