@mixin web-toolbar-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-toolbar {
    &.web-primary {
      mat-toolbar {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
    }

    &.web-accent {
      mat-toolbar {
        background: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }
    }

    &.web-warn {
      mat-toolbar {
        background: mat-color($warn);
        color: mat-color($warn, default-contrast);
      }
    }

    &.web-darker {
      mat-toolbar {
        background: mat-color($foreground, text);
        color: mat-color($foreground, lighter);
      }
    }

    &.web-lighter {
      mat-toolbar {
        background-color: mat-color($foreground, lighter);
        color: mat-color($foreground, text);
      }
    }
  }
}
