<div class="web-toolbar">
  <mat-toolbar>
    <button *ngIf="hasSidenav" mat-icon-button class="sidenav-button" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex fxHide.gt-sm></div>
    <div class="logo" [routerLink]="['/']">
      <span *ngIf="title">{{ title }}</span>
      <div *ngIf="!title">
        <ng-content select="web-svg"></ng-content>
      </div>
    </div>
    <div fxFlex></div>
    <div *ngIf="hasNav">
      <ng-content select="web-nav"></ng-content>
    </div>
    <ng-content select="web-share"></ng-content>
    <ng-content select="web-menu"></ng-content>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>
