.web-toolbar {
  z-index: 2;
  position: fixed;
  width: 100%;

  mat-toolbar {
    height: 60px;
    padding: 0 12px 0 24px;

    .sidenav-button {
      margin-right: 24px;
      user-select: none;

      .mat-button-focus-overlay {
        opacity: 0 !important;
      }
    }

    .logo {
      margin-right: 10px;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-decoration: none;
    }
  }

  .web-svg {
    max-height: 35px;
  }

  .web-menu {
    margin-left: 8px;
  }
}

.mobile {
  .web-toolbar {
    mat-toolbar {
      height: 50px;
      padding: 0 6px;

      .sidenav-button {
        margin-right: 6px;
      }
    }

    .web-svg {
      max-height: 30px;
    }
  }
}
