<web-main class="not-found">
  <web-sidenav [hidden]="true">
    <div class="not-found-header" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo" [routerLink]="['/']">
        <web-svg
          [config]="{
            viewBox: '0 0 1870 1003',
            paths: [
              'M861 1003l0 -27 37 0c42,0 72,-14 90,-41 11,-16 17,-52 17,-109l0 -354 142 -309 0 789c65,0 114,0 158,0 56,0 109,-11 158,-32 48,-21 91,-51 126,-89 36,-39 64,-86 84,-141 20,-56 30,-118 30,-186 0,-69 -10,-132 -30,-187 -20,-55 -48,-102 -84,-141 -35,-38 -78,-68 -128,-89 -49,-21 -103,-31 -162,-31 -59,-1 -107,0 -172,1 -70,2 -79,7 -108,67l-15 36 0 0 -386 843 -24 0 -388 -844 0 670c0,62 7,100 20,116 19,20 48,31 87,31l36 0 0 27 -350 0 0 -27 35 0c43,0 73,-13 91,-39 11,-15 16,-51 16,-108l0 -655c0,-44 -5,-76 -15,-97 -3,-7 -8,-14 -14,-20 -6,-6 -14,-11 -24,-16 -10,-4 -22,-8 -36,-10 -15,-3 -33,-4 -53,-4l0 -27 284 0 364 785 358 -785 0 0 264 0c150,0 264,17 342,51 78,34 141,91 189,170 47,79 71,171 71,275 0,74 -12,142 -36,205 -24,62 -59,115 -106,160 -47,44 -106,79 -176,104 -71,25 -152,38 -244,38l-448 0z'
            ]
          }"
        ></web-svg>
      </div>
      <web-title [config]="{ isSubtitle: true, title: 'Página Não Encontrada!' }"></web-title>
      <web-button [config]="{ title: 'Voltar', color: 'web-primary', margin: '23px 0 0 0', action: '/' }"></web-button>
    </div>
    <web-footer [basic]="true"></web-footer>
  </web-sidenav>
</web-main>
