.not-found {
  .web-sidenav {
    .web-content {
      margin-top: 0;
    }
  }

  .not-found-header {
    height: calc(100vh - 45px);

    .logo {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      margin-bottom: 43px;

      .web-svg {
        height: 65px;
      }
    }
  }
}
