<div class="web-menu">
  <div (click)="openMenu()">
    <ng-content></ng-content>
  </div>
  <div [matMenuTriggerFor]="menu"></div>
  <mat-menu #menu="matMenu" class="web-menu-content {{ config.color }}">
    <ng-container *ngFor="let item of config.items">
      <button mat-button (click)="action(item)" *ngIf="!item.hidden$ || (item.hidden$ | async)">
        {{ item.title }}
      </button>
    </ng-container>
  </mat-menu>
</div>
