.web-menu-content {
  min-width: 180px !important;
  min-height: inherit !important;
  border-radius: 0 !important;
  box-shadow: none;

  .mat-menu-content {
    padding: 0 !important;
    display: flex;
    flex-direction: column;

    .mat-button {
      width: 100%;
      border-radius: 0;
      text-align: left;
      line-height: 48px;
      padding: 0 24px;

      &.cdk-focused {
        .mat-button-focus-overlay {
          opacity: 0 !important;
        }
      }
    }
  }
}
