<div class="our-story" *ngIf="ourStoryPage$ | async; let ourStory; else: loadingPage">
  <web-box>
    <web-row>
      <div>
        <web-image
          [config]="{
            src: ourStory.mainTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: ourStory.mainTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <web-image
        [config]="{
          src: ourStory.contentImageUrlA,
          width: '100%',
          minHeight: '280px',
          height: '100%'
        }"
      ></web-image>
      <web-text [config]="{ texts: ourStory.contentTextA }"></web-text>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
