.home {
  margin-top: -60px;
  text-align: center;

  .featured {
    .featured-content {
      padding-top: 60px;
      min-height: 100vh;
      background: rgba(255, 255, 255, 0.1);

      .first-web-box {
        .web-box {
          background: rgba(255, 255, 255, 0.7);
          padding: 16px 36px;
          margin-top: 32px;
        }
      }

      .second-web-box {
        color: white;

        .web-svg {
          height: 100px;

          .web-svg-fill {
            fill: white;
            opacity: 0.7;
          }
        }

        .down {
          margin-bottom: -48px;

          mat-icon {
            animation: down 2s infinite;
            user-select: none;
          }
        }
      }
    }
  }

  .greetings {
    video {
      max-width: 100%;
      height: auto;
      object-fit: cover;

      &:focus {
        outline: none;
      }
    }
  }

  .location {
    .web-box {
      background: rgba(255, 255, 255, 0.7);
    }
  }

  .messages {
    .web-box {
      background: rgba(255, 255, 255, 0.7);

      .messages-list {
        margin-top: 24px;

        web-card {
          width: 100%;

          .mat-card {
            background: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
  }
}

@keyframes down {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 8px);
    opacity: 0;
  }
}

.mobile {
  .home {
    margin-top: -50px;

    .featured {
      .featured-content {
        padding-top: 50px;

        .web-title {
          font-size: 28px;
          line-height: 32px;

          &.mat-headline {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .web-box {
          padding: 36px;
        }

        .first-web-box {
          .web-box {
            padding: 12px;
            margin-top: 12px;
          }
        }

        .second-web-box {
          .web-svg {
            height: 80px;
          }

          .down {
            margin-bottom: -18px;
          }
        }
      }
    }
  }
}

.android {
  &:not(.pwa) {
    .home {
      .featured {
        .featured-content {
          min-height: calc(100vh - 56px);
        }
      }
    }
  }
}
