<div class="home" *ngIf="homePage$ | async; let home; else: loadingPage">
  <web-image
    class="featured"
    [config]="{
      src: home.featuredImageUrl,
      width: '100%',
      height: '100%',
      tinged: 'linear-gradient(-15deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 35%)'
    }"
  >
    <div class="featured-content" fxLayout="column" fxLayoutAlign="space-between none">
      <web-box class="first-web-box" [config]="{ maxWidth: '90%' }" fxFlex>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <web-title [config]="{ title: home.featuredPhrase, margin: '0' }"></web-title>
            <web-title [config]="{ title: home.featuredSubPhrase, margin: '0', isSubtitle: true }"></web-title>
          </div>
        </div>
      </web-box>
      <web-box class="second-web-box" [config]="{ maxWidth: '90%' }">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center end">
          <div fxLayout="column" fxLayoutAlign="center center">
            <web-svg
              [config]="{
                viewBox: '0 0 1870 1003',
                margin: '0 0 12px',
                paths: [
                  'M861 1003l0 -27 37 0c42,0 72,-14 90,-41 11,-16 17,-52 17,-109l0 -354 142 -309 0 789c65,0 114,0 158,0 56,0 109,-11 158,-32 48,-21 91,-51 126,-89 36,-39 64,-86 84,-141 20,-56 30,-118 30,-186 0,-69 -10,-132 -30,-187 -20,-55 -48,-102 -84,-141 -35,-38 -78,-68 -128,-89 -49,-21 -103,-31 -162,-31 -59,-1 -107,0 -172,1 -70,2 -79,7 -108,67l-15 36 0 0 -386 843 -24 0 -388 -844 0 670c0,62 7,100 20,116 19,20 48,31 87,31l36 0 0 27 -350 0 0 -27 35 0c43,0 73,-13 91,-39 11,-15 16,-51 16,-108l0 -655c0,-44 -5,-76 -15,-97 -3,-7 -8,-14 -14,-20 -6,-6 -14,-11 -24,-16 -10,-4 -22,-8 -36,-10 -15,-3 -33,-4 -53,-4l0 -27 284 0 364 785 358 -785 0 0 264 0c150,0 264,17 342,51 78,34 141,91 189,170 47,79 71,171 71,275 0,74 -12,142 -36,205 -24,62 -59,115 -106,160 -47,44 -106,79 -176,104 -71,25 -152,38 -244,38l-448 0z'
                ]
              }"
            ></web-svg>
            <web-title [config]="{ title: home.featuredPhraseMonogram, margin: '0' }"></web-title>
          </div>
        </div>
        <div class="down" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon>expand_more</mat-icon>
        </div>
      </web-box>
    </div>
  </web-image>
  <web-box class="greetings">
    <web-row>
      <div>
        <web-image
          [config]="{
            src: home.greetingsTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: home.greetingsTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <div>
        <video
          controls
          poster="https://firebasestorage.googleapis.com/v0/b/michele-e-diego.appspot.com/o/IMG-20201203-WA0033.jpg?alt=media"
        >
          <source
            src="https://firebasestorage.googleapis.com/v0/b/michele-e-diego.appspot.com/o/VID-20220429-WA0021.mp4?alt=media"
            type="video/mp4"
          />
          Your browser does not support HTML video.
        </video>
      </div>
      <div fxLayout="column">
        <div fxFlex></div>
        <web-text [config]="{ texts: home.greetingsText }"></web-text>
        <web-button
          [config]="{ title: 'Confirmar Presença', color: 'web-primary', margin: '24px 0 0 0', action: '/rsvp' }"
        ></web-button>
        <div fxFlex></div>
      </div>
    </web-row>
  </web-box>
  <mat-divider></mat-divider>
  <web-image
    class="location"
    [config]="{
      src:
        'https://firebasestorage.googleapis.com/v0/b/michele-e-diego.appspot.com/o/IMG-20201203-WA0041.jpg?alt=media',
      width: '100%',
      height: '100%'
    }"
  >
    <web-box>
      <web-row>
        <web-title [config]="{ title: 'Cerimônia e Recepção' }"></web-title>
      </web-row>
      <web-row>
        <div fxLayout="column">
          <p>
            A cerimônia será às <strong>16h30</strong> do dia <strong>17/12/2022</strong> no
            <strong>Hotel Quinta da Bica D'Água</strong> em <strong>Florianópolis/SC</strong>.
          </p>
          <p>Após a cerimônia, a recepção será no <strong>Salão Flores</strong> do hotel.</p>
          <web-button
            [config]="{ title: 'Mais Informações', color: 'web-primary', margin: '12px 0 0 0', action: '/location' }"
          ></web-button>
        </div>
      </web-row>
    </web-box>
  </web-image>
  <mat-divider></mat-divider>
  <web-box class="gifts">
    <web-row>
      <web-title [config]="{ title: 'Deseja nos presentear?' }"></web-title>
    </web-row>
    <web-row>
      <web-image
        [config]="{
          src:
            'https://firebasestorage.googleapis.com/v0/b/michele-e-diego.appspot.com/o/IMG-20201203-WA0035.jpg?alt=media',
          width: '100%',
          minHeight: '230px',
          height: '100%'
        }"
      ></web-image>
      <div fxLayout="column">
        <div fxFlex></div>
        <web-text
          [config]="{
            texts: [
              'Sua presença já é o melhor presente para nós!',
              'Preparamos algumas opções para facilitar a escolha do presente.'
            ]
          }"
        ></web-text>
        <web-button
          [config]="{ title: 'Lista de Presentes', color: 'web-primary', margin: '24px 0 0 0', action: '/gifts-list' }"
        ></web-button>
        <div fxFlex></div>
      </div>
    </web-row>
  </web-box>
  <mat-divider></mat-divider>
  <web-image
    class="messages"
    [config]="{
      src: 'https://firebasestorage.googleapis.com/v0/b/michele-e-diego.appspot.com/o/greetings_image.jpg?alt=media',
      width: '100%',
      height: '100%'
    }"
  >
    <web-box>
      <web-row>
        <web-title [config]="{ title: 'Deixe seu recado!' }"></web-title>
      </web-row>
      <web-row>
        <div *ngIf="messageGuests$ | async; let messageGuests">
          <web-text
            [config]="{
              texts: ['Nada melhor do que receber um recadinho daqueles que amamos.']
            }"
          ></web-text>
          <web-button
            [config]="{
              title: 'Escrever Recado',
              color: 'web-primary',
              margin: '24px 0 0 0',
              action: '/message-boards'
            }"
          ></web-button>
          <div
            class="messages-list"
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap="12px"
            fxLayoutAlign="center center"
          >
            <web-card fxFlex fxFlex.gt-sm="50" *ngIf="!messageGuests.length">
              <p>Nenhum recado enviado.</p>
            </web-card>
            <web-card fxFlex fxFlex.gt-sm="50" *ngFor="let messageGuest of filterMessageGuests(messageGuests)">
              <p>{{ messageGuest.comment }}</p>
              <p>
                <strong>{{ messageGuest.name }}</strong> - {{ messageGuest.date.seconds * 1000 | date: 'dd/MM/yyyy' }}
              </p>
            </web-card>
          </div>
          <web-button
            [config]="{
              title: 'Confira Todos',
              color: 'web-primary',
              margin: '32px 0 0 0',
              action: '/message-boards'
            }"
          ></web-button>
        </div>
      </web-row>
    </web-box>
  </web-image>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
