<div class="rsvp-page">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
    <div fxLayout="column">
      <h3>Cabeçalho</h3>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Imagem Título</mat-label>
        <input matInput formControlName="mainTitleImageUrl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Título</mat-label>
        <input matInput formControlName="mainTitle" type="text" required />
        <mat-error
          *ngIf="
            formGroup.controls.mainTitle.invalid &&
            (formGroup.controls.mainTitle.dirty || formGroup.controls.mainTitle.touched)
          "
        >
          <span *ngIf="formGroup.controls.mainTitle.errors.required">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
        <web-button [config]="{ title: 'Restaurar' }" type="button" (click)="onReset()"></web-button>
        <web-button
          type="submit"
          [config]="{ title: 'Salvar', color: 'web-primary' }"
          [disabled]="!formGroup.valid || loading"
        ></web-button>
      </div>
    </div>
  </form>
</div>
