.web-loading {
  height: calc(100vh - 106px);
}

.mobile {
  .web-loading {
    height: calc(100vh - 88px);
  }

  .web-tabs {
    .web-loading {
      height: calc(100vh - 306px);
    }
  }
}

.web-tabs {
  .web-loading {
    height: calc(100vh - 284px);
  }
}
