@mixin web-notification-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .web-notification {
    border-radius: 0 !important;
    background: if($is-dark-theme, #c2c2c2, #424242);
  }
}
