<web-box [config]="{ maxWidth: '400px' }">
  <web-card [config]="{ title: 'Redefinir Senha', subtitle: 'Informe o e-mail cadastrado' }">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error
          *ngIf="
            formGroup.controls.email.invalid && (formGroup.controls.email.dirty || formGroup.controls.email.touched)
          "
        >
          <span *ngIf="formGroup.controls.email.errors.required">Campo obrigatório.</span>
          <span *ngIf="formGroup.controls.email.errors.pattern">Formato inválido.</span>
          <span *ngIf="formGroup.controls.email.errors.invalid">E-mail não cadastrado.</span>
        </mat-error>
      </mat-form-field>

      <web-button
        [config]="{ title: 'Solicitar', color: 'web-primary', margin: '0 0 18px 0', width: '100%' }"
        type="submit"
        [disabled]="!formGroup.valid || loading"
      ></web-button>
    </form>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
      <p>Não tem conta? <a class="web-link" [routerLink]="['../register']">Cadastre-se</a></p>
      <p>Voltar para <a class="web-link" [routerLink]="['../login']">Login</a></p>
    </div>
  </web-card>
</web-box>
