<div class="rsvp-guest" *ngIf="rsvpGuests$ | async; let rsvpGuests; else: loadingPage">
  <web-card *ngIf="!rsvpGuests.length">
    <div>
      <p>Nenhuma confirmação enviada.</p>
    </div>
  </web-card>
  <web-card *ngFor="let rsvpGuest of rsvpGuests">
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Status</strong></small>
        <p>
          <mat-checkbox (change)="onChangeStatus($event, rsvpGuest)" [checked]="rsvpGuest.checked">{{
            rsvpGuest.checked ? 'Conferido' : 'Pendente'
          }}</mat-checkbox>
        </p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Data</strong></small>
        <p>{{ rsvpGuest.date }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="40">
        <small><strong>Nome</strong></small>
        <p>{{ rsvpGuest.name }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Celular</strong></small>
        <p>{{ rsvpGuest.phone }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="40">
        <small><strong>Convidados</strong></small>
        <p>{{ rsvpGuest.guestsName }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="60">
        <small><strong>Comentário</strong></small>
        <p>{{ rsvpGuest.comment }}</p>
      </div>
    </div>
  </web-card>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
