<web-box [config]="{ maxWidth: '400px' }">
  <web-card [config]="{ title: 'Alterar Senha', subtitle: 'Informe a nova senha' }">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>Nova Senha</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required />
        <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
          <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            formGroup.controls.password.invalid &&
            (formGroup.controls.password.dirty || formGroup.controls.password.touched)
          "
        >
          <span *ngIf="formGroup.controls.password.errors.required">Campo obrigatório.</span>
          <span *ngIf="formGroup.controls.password.errors.minlength">Mínimo 6 caracteres.</span>
        </mat-error>
      </mat-form-field>

      <web-button
        [config]="{ title: 'Alterar', color: 'web-primary', margin: '0 0 18px 0', width: '100%' }"
        type="submit"
        [disabled]="!formGroup.valid || loading"
      ></web-button>
    </form>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
      <p>Voltar para <a class="web-link" [routerLink]="['../forgot-password']">Redefinir Senha</a></p>
      <p>Voltar para <a class="web-link" [routerLink]="['../login']">Login</a></p>
    </div>
  </web-card>
</web-box>
