<div class="dashboard">
  <web-box [config]="{ maxWidth: '100%' }">
    <div class="gifts-list-banks" fxLayoutGap="24px" fxLayout="column" fxLayout.gt-sm="row">
      <web-card [config]="{ title: 'Confirmações' }" fxFlex fxFlex.gt-sm="33" [routerLink]="['/admin/guests/rsvp']">
        <p class="mat-display-1" *ngIf="rsvpGuests$ | async; let rsvpGuests; else: loadingRsvp">
          {{ rsvpGuests.length }}
        </p>
        <ng-template #loadingRsvp>
          <p class="mat-display-1">0</p>
        </ng-template>
        <p>Pendentes</p>
      </web-card>
      <web-card [config]="{ title: 'Presentes' }" fxFlex fxFlex.gt-sm="33" [routerLink]="['/admin/guests/gifts']">
        <p class="mat-display-1" *ngIf="giftsGuests$ | async; let giftsGuests; else: loadingGifts">
          {{ giftsGuests.length }}
        </p>
        <ng-template #loadingGifts>
          <p class="mat-display-1">0</p>
        </ng-template>
        <p>Pendentes</p>
      </web-card>
      <web-card [config]="{ title: 'Recados' }" fxFlex fxFlex.gt-sm="33" [routerLink]="['/admin/guests/message']">
        <p class="mat-display-1" *ngIf="messageGuests$ | async; let messageGuests; else: loadingMessage">
          {{ messageGuests.length }}
        </p>
        <ng-template #loadingMessage>
          <p class="mat-display-1">0</p>
        </ng-template>
        <p>Pendentes</p>
      </web-card>
    </div>
  </web-box>
</div>
