<web-box [config]="{ maxWidth: '400px' }">
  <web-card [config]="{ title: 'Cadastre-se', subtitle: 'Informe seus dados' }">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column">
      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="displayName" type="text" required />
        <mat-error
          *ngIf="
            registerForm.controls.displayName.invalid &&
            (registerForm.controls.displayName.dirty || registerForm.controls.displayName.touched)
          "
        >
          <span *ngIf="registerForm.controls.displayName.errors.required">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error
          *ngIf="
            registerForm.controls.email.invalid &&
            (registerForm.controls.email.dirty || registerForm.controls.email.touched)
          "
        >
          <span *ngIf="registerForm.controls.email.errors.required">Campo obrigatório.</span>
          <span *ngIf="registerForm.controls.email.errors.pattern">Formato inválido.</span>
          <span *ngIf="registerForm.controls.email.errors.invalid">E-mail já cadastrado.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="web-form-field">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'" required />
        <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
          <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            registerForm.controls.password.invalid &&
            (registerForm.controls.password.dirty || registerForm.controls.password.touched)
          "
        >
          <span *ngIf="registerForm.controls.password.errors.required">Campo obrigatório.</span>
          <span *ngIf="registerForm.controls.password.errors.minlength">Mínimo 6 caracteres.</span>
        </mat-error>
      </mat-form-field>

      <web-button
        [config]="{ title: 'Registrar', color: 'web-primary', margin: '0 0 18px 0', width: '100%' }"
        type="submit"
        [disabled]="!registerForm.valid || loading"
      ></web-button>
    </form>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
      <p>Voltar para <a class="web-link" [routerLink]="['../login']">Login</a></p>
    </div>
  </web-card>
</web-box>
