@mixin web-text-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-text {
    &.web-primary {
      .web-text {
        color: mat-color($primary);
      }
    }

    &.web-accent {
      .web-text {
        color: mat-color($accent);
      }
    }

    &.web-warn {
      .web-text {
        color: mat-color($warn);
      }
    }

    &.web-darker {
      .web-text {
        color: mat-color($foreground, text);
      }
    }

    &.web-lighter {
      .web-text {
        color: mat-color($foreground, lighter);
      }
    }
  }
}
