<div class="rsvp" *ngIf="rsvpPage$ | async; let rsvp; else: loadingPage">
  <web-box [config]="{ maxWidth: '520px' }">
    <web-row>
      <div>
        <web-image
          [config]="{
            src: rsvp.mainTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: rsvp.mainTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <div class="rsvp-header" fxLayout="column" fxLayoutAlign="center center">
        <p>Confirme sua presença até o dia <strong>20/11/2022</strong> com <strong>Sheila Hollweg</strong></p>
        <web-button
          [config]="{
            title: '48 99141-7415',
            color: 'web-primary',
            margin: '12px 0 24px 0',
            action: toWhatsApp,
            svgIcon: 'whatsapp'
          }"
        ></web-button>
        <p>ou enviando o formulário</p>
        <web-card>
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
            <div fxLayout="column">
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Nome Completo</mat-label>
                <input matInput formControlName="name" type="text" required />
                <mat-error
                  *ngIf="
                    formGroup.controls.name.invalid &&
                    (formGroup.controls.name.dirty || formGroup.controls.name.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.name.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Celular</mat-label>
                <input matInput formControlName="phone" type="tel" required />
                <mat-error
                  *ngIf="
                    formGroup.controls.phone.invalid &&
                    (formGroup.controls.phone.dirty || formGroup.controls.phone.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.phone.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Nomes dos convidados</mat-label>
                <textarea matInput formControlName="guestsName" type="text" rows="2" required></textarea>
                <mat-error
                  *ngIf="
                    formGroup.controls.guestsName.invalid &&
                    (formGroup.controls.guestsName.dirty || formGroup.controls.guestsName.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.guestsName.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Comentário</mat-label>
                <textarea matInput formControlName="comment" type="text" rows="4"></textarea>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
                <web-button [config]="{ title: 'Limpar' }" type="reset" (click)="onReset()"></web-button>
                <web-button
                  type="submit"
                  [config]="{ title: 'Enviar', color: 'web-primary' }"
                  [disabled]="!formGroup.valid || loading"
                ></web-button>
              </div>
            </div>
          </form>
        </web-card>
      </div>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
