<div class="home-page">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
    <div fxLayout="column">
      <h3>Destaque</h3>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Imagem</mat-label>
        <input matInput formControlName="featuredImageUrl" type="text" required />
        <mat-error
          *ngIf="
            formGroup.controls.featuredImageUrl.invalid &&
            (formGroup.controls.featuredImageUrl.dirty || formGroup.controls.featuredImageUrl.touched)
          "
        >
          <span *ngIf="formGroup.controls.featuredImageUrl.errors.required">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Frase</mat-label>
        <input matInput formControlName="featuredPhrase" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Sub Frase</mat-label>
        <input matInput formControlName="featuredSubPhrase" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Monograma</mat-label>
        <input matInput formControlName="featuredMonogram" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Frase Monograma</mat-label>
        <input matInput formControlName="featuredPhraseMonogram" type="text" />
      </mat-form-field>
      <h3>Saudação</h3>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Imagem Título</mat-label>
        <input matInput formControlName="greetingsTitleImageUrl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Título</mat-label>
        <input matInput formControlName="greetingsTitle" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Imagem</mat-label>
        <input matInput formControlName="greetingsImageUrl" type="text" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="web-form-field" fxFlex>
        <mat-label>Texto</mat-label>
        <textarea matInput formControlName="greetingsText" type="text" rows="10"></textarea>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
        <web-button [config]="{ title: 'Restaurar' }" type="button" (click)="onReset()"></web-button>
        <web-button
          type="submit"
          [config]="{ title: 'Salvar', color: 'web-primary' }"
          [disabled]="!formGroup.valid || loading"
        ></web-button>
      </div>
    </div>
  </form>
</div>
