<div class="message-guest" *ngIf="messageGuests$ | async; let messageGuests; else: loadingPage">
  <web-card *ngIf="!messageGuests.length">
    <div>
      <p>Nenhum presente enviado.</p>
    </div>
  </web-card>
  <web-card *ngFor="let messageGuest of messageGuests">
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Status</strong></small>
        <p>
          <mat-checkbox (change)="onChangeStatus($event, messageGuest)" [checked]="messageGuest.checked">{{
            messageGuest.checked ? 'Conferido' : 'Pendente'
          }}</mat-checkbox>
        </p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="20">
        <small><strong>Data</strong></small>
        <p>{{ messageGuest.date }}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="60">
        <small><strong>Nome</strong></small>
        <p>{{ messageGuest.name }}</p>
      </div>
      <div fxLayout="column" fxFlex="100">
        <small><strong>Comentário</strong></small>
        <p>{{ messageGuest.comment }}</p>
      </div>
    </div>
  </web-card>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
