.gifts-list {
  .gifts-list-header {
    text-align: center;

    web-card {
      width: 100%;
    }

    .gifts-list-button {
      user-select: none;
      cursor: pointer;
      margin: 12px 0 24px 0;
    }

    .gifts-list-banks {
      width: 100%;
      margin-bottom: 24px;
      margin-top: 12px;
    }

    .gifts-list-form {
      margin-top: 12px;
    }
  }
}
