<div class="gifts-list" *ngIf="giftsListPage$ | async; let giftsList; else: loadingPage">
  <web-box [config]="{ maxWidth: '520px' }">
    <web-row>
      <div>
        <web-image
          [config]="{
            src: giftsList.mainTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: giftsList.mainTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <div class="gifts-list-header" fxLayout="column" fxLayoutAlign="center center">
        <p>Para nos presentear, colocamos uma lista de presentes na loja</p>
        <web-card class="gifts-list-button" (click)="toCamicadoList()">
          <web-image
            [config]="{
              src: 'assets/svg/camicado.svg',
              width: '100%',
              height: '40px',
              cover: 'contain',
              margin: '0 0 16px'
            }"
          ></web-image>
          <a class="web-link" (click)="toCamicadoList()">Visualizar Lista</a>
        </web-card>
        <p>Se preferir transferir algum valor, disponibilizamos nossas contas bancárias</p>
        <div class="gifts-list-banks" fxLayoutGap="24px" fxLayout="column" fxLayout.gt-sm="row">
          <web-card fxFlex fxFlex.gt-sm="50">
            <p><strong>Banco Itaú</strong></p>
            <div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center">
              <div>
                <small><strong>Agência</strong></small>
                <p>5432</p>
              </div>
              <div>
                <small><strong>Conta</strong></small>
                <p>12285-0</p>
              </div>
            </div>
            <small><strong>CPF/Pix</strong></small>
            <p>338.852.288-07</p>
            <small><strong>Nome</strong></small>
            <p>Michele Moreira de Souza</p>
          </web-card>
          <web-card fxFlex fxFlex.gt-sm="50">
            <p><strong>BTG Pactual</strong></p>
            <div fxLayout="row" fxLayoutGap="48px" fxLayoutAlign="center">
              <div>
                <small><strong>Agência</strong></small>
                <p>0020</p>
              </div>
              <div>
                <small><strong>Conta</strong></small>
                <p>237643-5</p>
              </div>
            </div>
            <small><strong>CPF/Pix</strong></small>
            <p>053.110.139-82</p>
            <small><strong>Nome</strong></small>
            <p>Diego Adilson Vieira</p>
          </web-card>
        </div>
        <p>Envie-nos um comentário sobre o presente</p>
        <web-card class="gifts-list-form">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
            <div fxLayout="column">
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Nome Completo</mat-label>
                <input matInput formControlName="name" type="text" required />
                <mat-error
                  *ngIf="
                    formGroup.controls.name.invalid &&
                    (formGroup.controls.name.dirty || formGroup.controls.name.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.name.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Presente</mat-label>
                <input matInput formControlName="gift" type="text" required />
                <mat-error
                  *ngIf="
                    formGroup.controls.gift.invalid &&
                    (formGroup.controls.gift.dirty || formGroup.controls.gift.touched)
                  "
                >
                  <span *ngIf="formGroup.controls.gift.errors.required">Campo obrigatório.</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="web-form-field" fxFlex>
                <mat-label>Comentário</mat-label>
                <textarea matInput formControlName="comment" type="text" rows="6"></textarea>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
                <web-button [config]="{ title: 'Limpar' }" type="reset" (click)="onReset()"></web-button>
                <web-button
                  type="submit"
                  [config]="{ title: 'Enviar', color: 'web-primary' }"
                  [disabled]="!formGroup.valid || loading"
                ></web-button>
              </div>
            </div>
          </form>
        </web-card>
      </div>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
