<web-main>
  <web-toolbar color="web-lighter">
    <web-svg [config]="logoSvg"></web-svg>
    <web-nav [config]="nav"></web-nav>
    <web-share></web-share>
  </web-toolbar>
  <web-sidenav>
    <web-nav [config]="nav"></web-nav>
    <web-footer></web-footer>
  </web-sidenav>
</web-main>
