@mixin web-nav-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-nav {
    .mat-button {
      &.active {
        color: mat-color($primary, text);
      }
    }

    &.web-accent {
      .mat-button {
        &.active {
          color: mat-color($accent, text);
        }
      }
    }

    &.web-warn {
      .mat-button {
        &.active {
          color: mat-color($warn, text);
        }
      }
    }

    &.web-darker {
      .mat-button {
        &.active {
          color: mat-color($foreground, text);
        }
      }
    }

    &.web-lighter {
      .mat-button {
        &.active {
          color: mat-color($foreground, lighter);
        }
      }
    }
  }
}
