.web-nav {
  display: flex;
  flex-direction: row;

  .mat-button {
    border-radius: 0;

    &.cdk-focused {
      .mat-button-focus-overlay {
        opacity: 0 !important;
      }
    }
  }

  &.vertical {
    flex-direction: column;

    .mat-button {
      width: 100%;
      text-align: left;
      line-height: 48px;
      padding: 0 24px;
    }
  }
}

.mobile {
  .web-nav {
    flex-direction: column;

    .mat-button {
      width: 100%;
      text-align: left;
      line-height: 48px;
      padding: 0 16px;
    }
  }
}
