<nav class="web-nav" [class.vertical]="config.vertical">
  <ng-container *ngFor="let item of config.items">
    <button
      mat-button
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="[item.url]"
      (click)="onToggleSidenav()"
    >
      {{ item.title }}
    </button>
  </ng-container>
</nav>
