@mixin web-card-theme($theme, $config) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  web-card {
    .mat-card {
      border: 1px solid mat-color($foreground, divider);
    }

    &.web-primary {
      .mat-card {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
    }

    &.web-accent {
      .mat-card {
        background: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }
    }

    &.web-warn {
      .mat-card {
        background: mat-color($warn);
        color: mat-color($warn, default-contrast);
      }
    }

    &.web-darker {
      .mat-card {
        background: mat-color($foreground, text);
        color: mat-color($foreground, lighter);
      }
    }

    &.web-lighter {
      .mat-card {
        background-color: mat-color($foreground, lighter);
        color: mat-color($foreground, text);
      }
    }
  }
}
