<div class="web-card">
  <mat-card>
    <mat-card-header
      *ngIf="config.title || config.subtitle"
      fxLayout="column"
      [ngStyle]="{ 'text-align': config.headerAlign }"
    >
      <mat-card-title *ngIf="config.title">{{ config.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="config.subtitle">{{ config.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>
