.web-card {
  .mat-card {
    border-radius: 0;
    box-shadow: none;
  }

  mat-card-header {
    text-align: center;

    .mat-card-title {
      margin-bottom: 16px;
    }

    .mat-card-header-text {
      margin: 0;
    }
  }

  .web-tabs {
    margin: 0 -16px -16px;
  }
}
