<div class="location" *ngIf="locationPage$ | async; let location; else: loadingPage">
  <web-box [config]="{ maxWidth: '520px' }">
    <web-row>
      <div>
        <web-image
          [config]="{
            src: location.mainTitleImageUrl,
            width: '100%',
            height: '60px',
            cover: 'contain',
            margin: '0 0 24px'
          }"
        ></web-image>
        <web-title [config]="{ title: location.mainTitle }"></web-title>
      </div>
    </web-row>
    <web-row>
      <div class="location-header" fxLayout="column" fxLayoutAlign="center center">
        <p>Estamos ansiosos esperando por você!</p>
        <web-card class="location-info">
          <small><strong>Data</strong></small>
          <p>17 de dezembro de 2022</p>
          <small><strong>Horário</strong></small>
          <p>16h30</p>
          <small><strong>Cerimônia e Recepção</strong></small>
          <p>Hotel Quinta da Bica D'Água</p>
          <small><strong>Endereço</strong></small>
          <p>Rua Capitão Romualdo de Barros, 641 - Carvoeira - Florianópolis/SC</p>
        </web-card>
        <div class="location-frame">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7071.2935933452545!2d-48.529834!3d-27.604478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c452c99a7c9cdca!2sHotel%20Quinta%20da%20Bica%20D&#39;%C3%81gua!5e0!3m2!1spt-BR!2sbr!4v1609961405599!5m2!1spt-BR!2sbr"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <p>Hospede-se no hotel!</p>
        <div class="location-hotel" fxLayoutGap="24px" fxLayout="column" fxLayout.gt-sm="row">
          <web-card (click)="toHotel()" fxFlex fxFlex.gt-sm="50">
            <web-image
              [config]="{
                src: 'assets/svg/hotel-quinta-bica-dagua.png',
                width: '100%',
                height: '120px',
                cover: 'contain',
                margin: '0 0 16px'
              }"
            ></web-image>
            <a class="web-link" (click)="toHotel()">hotelquintadabicadagua.com.br</a>
          </web-card>
          <web-card (click)="toBooking()" fxFlex fxFlex.gt-sm="50">
            <web-image
              [config]="{
                src: 'assets/svg/booking.png',
                width: '100%',
                height: '120px',
                cover: 'contain',
                margin: '0 0 16px'
              }"
            ></web-image>
            <a class="web-link" (click)="toBooking()">booking.com</a>
          </web-card>
        </div>
        <div class="location-frame">
          <iframe
            src="https://www.youtube.com/embed/zoS8CbUwlgA?rel=0&enablejsapi=1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <p>Caso você não conseguir vaga no hotel, fale conosco!</p>
        <p>
          Como segunda opção, indicamos o <strong>Interclass Florianópolis Hotel</strong>, que fica a +- 1 km do local
          do casamento.
        </p>
        <div class="location-hotel" fxLayoutGap="24px" fxLayout="column" fxLayout.gt-sm="row">
          <web-card (click)="toHotel(true)" fxFlex fxFlex.gt-sm="50">
            <web-image
              [config]="{
                src: 'assets/svg/interclass-hotel.png',
                width: '100%',
                height: '120px',
                cover: 'contain',
                margin: '0 0 16px'
              }"
            ></web-image>
            <a class="web-link" (click)="toHotel(true)">interclasshoteis.com.br</a>
          </web-card>
          <web-card (click)="toBooking(true)" fxFlex fxFlex.gt-sm="50">
            <web-image
              [config]="{
                src: 'assets/svg/booking.png',
                width: '100%',
                height: '120px',
                cover: 'contain',
                margin: '0 0 16px'
              }"
            ></web-image>
            <a class="web-link" (click)="toBooking(true)">booking.com</a>
          </web-card>
        </div>
      </div>
    </web-row>
  </web-box>
</div>
<ng-template #loadingPage>
  <web-loading></web-loading>
</ng-template>
