.location {
  .location-header {
    text-align: center;

    web-card {
      width: 100%;
    }
  }

  .location-info {
    margin-top: 12px;
  }

  .location-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 24px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .location-hotel {
    margin-top: 12px;
    width: 100%;

    web-card {
      user-select: none;
      cursor: pointer;
    }
  }
}
